*
{
    padding: 0;
    margin: 0;
}

:root {
	--main-text-color: black;
	--newsletter-background: gray;
	--main-color-theme: gold;
}

body
{
	font-family: sans-serif;
}

img {
	max-width:100%;
	height:auto;
	max-height:100%;
}

/***** Navigation bar section *****/
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar
{
	background-color: var(--main-color-theme, gold);
	padding: 0 !important;
}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav li a
{
	color: var(--main-text-color, black) !important;
	font-weight: 600;
	float: right;
	text-align: left;
}

.navbar-brand
{
	color: var(--main-text-color, black) !important;
	font-size: 50px !important;
}

.fa-bars
{
	color: var(--main-text-color, black);
	font-size: 30px !important;
}

.navbar-toggler
{
	outline: none !important;
}

/***** End of Navigation bar section *****/

/***** Banner section *****/
#banner
{
	padding-top: 5%;
}

/***** End of Banner section *****/

/***** Footer section *****/
#join-newsletter {
	margin-top: 40px;
}

#email {
	padding: 10px 10px 10px 10px;
}

#subscribe-button {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 10px 10px 10px;
	background-color: palegoldenrod;
}

#newsletter-subscription {
	background-color: var(--newsletter-background, gray);
	color: #fff;
	height: auto;
	margin-top: 50px;
}

#footer-border {
	background-color: var(--main-color-theme, gold);
	height: 2px !important;
	margin-left: 50px;
	margin-right: 50px;
}

#footer
{
	background-color: var(--main-text-color, black);
	color: #fff;
	padding-top: 15px;
}

/***** End of Footer section *****/